[Detector pointing]
basepath = ../../data/pointing
#basepath = ./data/pointing/classQbandPointing_ndays_7_nscans_840_sps_20Hz.npz
name = classQbandPointing
days = 7
scans = 840
sps = 20

[Pointing offsets]
file = ../../data/array_data/era2/moon_subtracted_beam_parameters.csv
average offsets for pairs = true
angles in degrees = true

[Beams]
file = ../../data/array_data/era2/moon_subtracted_beam_parameters.csv
average beams for pairs = true
angles in degrees = true

[Input map]
basepath = ../../data/maps/
type = cmb
nside = 128
n = 0000
r = 0.00

[Output]
output folder = ../../runs
file name = cmb_r0.00_ellip_paired_matched.npz
